@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header-box {
  @include flex(flex, row, space-between, center);
  padding: 2rem 5rem;
  background-color: $background-header;

  .logoClicky-box {
    @include flex(flex, row, center, center);
    width: 20rem;
    a {
      img {
        height: 8rem;
        cursor: pointer;
        transition: $transition;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .navBar {
    @include flex(flex, row, center, center);

    ul {
      @include flex(flex, row, center, center);
      gap: 2rem;
      li {
        a {
          position: relative;
          font-size: 1.8rem;
          color: $color-text;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -3px;
            width: 50%;
            height: 2px;
            background-color: black;
            transform: translateX(-50%) scaleY(0);
            transition: $transition;
          }

          &:hover::after,
          &.isActive::after {
            transform: translateX(-50%) scaleY(1);
          }
        }
      }
    }
  }

  .cart-icon-box {
    @include flex(flex, row, center, center);
    height: 5rem;
    width: 20rem;

    .cart-icon {
      position: relative;
      @include flex(flex, row, center, center);
      cursor: pointer;
      transition: $transition;

      &:hover {
        transform: scale(1.2);
      }

      img {
        height: 4rem;
        color: $color-text;
      }

      p {
        position: absolute;
        @include flex(flex, row, center, center);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        background-color: #10463e;
        color: #fff;
        top: -0.5rem;
        right: -1.5rem;
      }
    }
  }
}
